<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- For background jobs -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <!-- Install App automatically -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />


    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- Allows opening in browser -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />


    <!-- Remove permission from Firebase dependency -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="org.nekomanga.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Neko"
        android:largeHeap="true"
        android:theme="@style/Theme.Tachiyomi"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="eu.kanade.tachiyomi.ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="eu.kanade.tachiyomi.ui.reader.ReaderActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="mangadex.org" />

                <data android:pathPattern="/chapter/..*" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.support.REMOTE_ACTION"
                android:resource="@xml/s_pen_actions" />


        </activity>
        <activity
            android:name="eu.kanade.tachiyomi.ui.webview.WebViewActivity"
            android:exported="true"
            android:configChanges="uiMode|orientation|screenSize" />

        <activity
            android:name="eu.kanade.tachiyomi.ui.security.BiometricActivity"
            android:exported="true" />
        <activity
            android:name="eu.kanade.tachiyomi.ui.setting.logins.MyAnimeListLoginActivity"
            android:label="MyAnimeList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="neko" />
                <data android:host="myanimelist-auth" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.kanade.tachiyomi.ui.setting.logins.AnilistLoginActivity"
            android:label="Anilist"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="neko" />
                <data android:host="anilist-auth" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.kanade.tachiyomi.ui.setting.logins.MangaDexLoginActivity"
            android:label="MangaDexLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="neko" />
                <data android:host="${mangadexAuthRedirectUri}" />
            </intent-filter>
        </activity>
        <activity
            android:process=":error_handler"
            android:name="eu.kanade.tachiyomi.crash.CrashActivity"
            android:exported="true" />
        <activity
            android:name="eu.kanade.tachiyomi.ui.main.DeepLinkActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">


            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="mangadex.org"
                    android:pathPattern="/manga/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="mangadex.org"
                    android:pathPattern="/title/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="mangadex.org"
                    android:pathPattern="/group/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="mangadex.org"
                    android:pathPattern="/list/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="mangadex.org"
                    android:pathPattern="/author/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="anilist.co" />
                <data android:pathPattern="/manga/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="myanimelist.net" />
                <data android:pathPattern="/manga/..*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.mangaupdates.com" />
                <data android:pathPattern="/series/..*" />
            </intent-filter>
        </activity>

        <activity
            android:name="eu.kanade.tachiyomi.ui.main.SearchActivity"
            android:theme="@style/Theme.Tachiyomi" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="eu.kanade.tachiyomi.data.notification.NotificationReceiver"
            android:exported="false" />

        <receiver
            android:name="eu.kanade.tachiyomi.data.updater.AppUpdateBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <!-- Disable advertising ID collection for Firebase -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

    </application>

</manifest>
