name: Close issues
on:
  push:
    tags:
      - '*'
jobs:
  close:
    name: Close old issues
    runs-on: ubuntu-latest
    steps:
    - uses: lowply/auto-closer@v0.0.6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        AC_LABEL: "staged for next release"
