name: Pull Request CI

on:
  pull_request:

jobs:
  pr_check_wrapper:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

  pr_build:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 17

      - name: Install Android Build Tools
        run: echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "build-tools;36.0.0"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build app
        run: ./gradlew assembleDebug


